<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.mapper.BlogMapper">

    <!--定义resultMap-->
    <resultMap id="BlogResultMap" type="com.zzx.common.vo.PageBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="description" column="description"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="blogSql">
        SELECT b.*,
               t.id,
               t.type_name,
               u.id,
               u.username
        FROM blog AS b
                 LEFT JOIN type AS t ON b.type_id = t.id
                 LEFT JOIN user AS u ON b.user_id = u.id
    </sql>

    <select id="getBlogList" parameterType="com.zzx.entity.Blog" resultMap="BlogResultMap">
        <include refid="blogSql"/>

        <where>
            <if test="id != null and id != ''">
                b.id = #{id}
            </if>
            <if test="title != null and title != ''">
                and b.title like concat('%',#{title},'%')
            </if>
            <if test="firstPicture != null and firstPicture != ''">
                and b.firstPicture like concat('%',#{firstPicture},'%')
            </if>
            <if test="description != null and description != ''">
                and b.description like concat('%',#{description},'%')
            </if>
            <if test="content != null and content != ''">
                and b.content like concat('%',#{content},'%')
            </if>
            <if test="createTime != null and createTime !=''">
                and b.createTime like concat('%',#{createTime},'%')
            </if>
            <if test="updateTime != null and updateTime != ''">
                and b.updateTime like concat('%',#{updateTime},'%')
            </if>

            <if test="views != null and views != ''">
                and b.views = #{views}
            </if>
            <if test="words != null and words != ''">
                and b.words = #{words}
            </if>
            <if test="typeId != null and typeId != ''">
                and b.type_id = #{typeId}
            </if>
            <if test="userId != null and userId !=''">
                and b.user_id = #{userId}
            </if>
            <if test="status != null and status != ''">
                and b.status = #{status}
            </if>
        </where>
    </select>

    <select id="getBlog" parameterType="com.zzx.entity.Blog" resultMap="BlogResultMap">
        <include refid="blogSql"/>

        <where>
            <if test="id != null and id != ''">
                b.id = #{id}
            </if>
            <if test="title != null and title != ''">
                and b.title like concat('%',#{title},'%')
            </if>
            <if test="firstPicture != null and firstPicture != ''">
                and b.firstPicture like concat('%',#{firstPicture},'%')
            </if>
            <if test="description != null and description != ''">
                and b.description like concat('%',#{description},'%')
            </if>
            <if test="content != null and content != ''">
                and b.content like concat('%',#{content},'%')
            </if>
            <if test="createTime != null and createTime !=''">
                and b.createTime like concat('%',#{createTime},'%')
            </if>
            <if test="updateTime != null and updateTime != ''">
                and b.updateTime like concat('%',#{updateTime},'%')
            </if>

            <if test="views != null and views != ''">
                and b.views = #{views}
            </if>
            <if test="words != null and words != ''">
                and b.words = #{words}
            </if>
            <if test="typeId != null and typeId != ''">
                and b.type_id = #{typeId}
            </if>
            <if test="userId != null and userId !=''">
                and b.user_id = #{userId}
            </if>
            <if test="status != null and status != ''">
                and b.status = #{status}
            </if>
        </where>
    </select>


</mapper>
