<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.mapper.TypeMapper">

    <resultMap id="Type" type="com.zzx.entity.Type">
        <id property="id" column="id"/>
        <result property="typeName" column="type_name"/>
    </resultMap>

    <sql id="typeSql">
        select *
        from type t
    </sql>

    <select id="getType" resultMap="Type" parameterType="com.zzx.entity.Type">
        <include refid="typeSql"/>
        <where>
            <if test="id != null and id !=''">
                t.id = #{id}
            </if>
            <if test="typeName != null and typeName != ''">
                t.type_name like concat('%',#{typeName},'%')
            </if>
        </where>
    </select>

    <select id="getTypeList" resultMap="Type" parameterType="com.zzx.entity.Type">
        <include refid="typeSql"/>
        <where>
            <if test="id != null and id !=''">
                t.id = #{id}
            </if>
            <if test="typeName != null and typeName != ''">
                t.type_name like concat('%',#{typeName},'%')
            </if>
        </where>
    </select>

    <delete id="deleteTypeById">
        delete
        from type
        where id = #{id}
    </delete>

    <update id="updateType">
        update type
        <set>
            <if test="typeName != null and typeName != ''">type_name = #{typeName}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="createType">
        insert into type (type_name)
        values (#{typeName})
    </insert>
</mapper>
